<h1>Hire anyone with FlexWork and accomplish more</h1>
<div>With FlexWork you can:<div>
<ul>
  <li>Hire professionals to help you and your business.</li>
  <br> 
  <div>From logo design through social marketing to building entire websites, anything for your business is easy with FlexWork!</div>
  <br>
  <li>Hire contractors to help you with housework and repairs</li>
  <br> 
  <div>Need a plumber to help you fix your toilet? Your bedroom could use a fresh coat of paint? No problem! With FlexWork your can get the help you and your house needs! </div>
  <br>  
  <li>Complete you errands even faster</li>
  <br>
  <div>Hire an assistant to help you with drycleaning. Need a driver to get downtown sooner? No problem, you can hire one with FlexWork</div>
</ul>