<br />
<section class="bg-white">
    
        <h1>View Your Tasks Below</h1>
        <div class="border-double border-4 border-light-blue-500"></div>
                <% @tasks.each do |task| %>
          
            Title: <%= link_to task.name, task_path(task) %><br/>
            Status: <%= task.status %>
           <br>
            
        <% end %>
        </div>

</section>





